<div class="mt-5 d-flex justify-content-center">
  <div class="col-7">
    <div class="p-5 text-white bg-dark rounded-3">
      <h1 class="display-5 fw-bold">FullStack - Ruteo, inicio sesión y JWT</h1>

      <p>
        <i class="fa fa-check chequeo"></i>&nbsp;Misión TIC
        <br />
        <i class="fa fa-check chequeo"></i>&nbsp;C4-G31 Desarrollo de aplicaciones Web
      </p>

      <div class="d-grid col-4">
        <button class="btn btn-primary btn-lg" type="button">
          Ingresar al taller 08
        </button>
      </div>

    </div>
  </div>
</div>

